@media screen and (max-width: 1200px){
    body :nth-of-type(1).row {
        margin-top:115px;
    }

    iframe {
        width:480px;
        height:350px;
    }
}

@media screen and (min-width: 1200px){
    body :nth-of-type(1).row {
        margin-top:150px;
    }

    iframe {
        width:600px;
        height:400px;

    }
}

@media screen and (min-width: 1563px){
    body :nth-of-type(1).row {
        margin-top:115px;
    }
    iframe {
        width:854px;
        height:480px;
    }
}

@media screen and (max-width: 758px){
    body :nth-of-type(1).row {
        margin-top:150px;
    }

    iframe {
        width:480px;
        height:240px;
    }

}

@media screen and (max-width: 576px){
    input.btn {
        margin-top: 5px;
    }
}

.item1 {

    /*background-color: pink;*/

    padding: 10px;

}

.item2 {

    background-color: lightblue;
    padding: 10px;

}

.item3 {

}

.item4 {

}

.item5 {

}

.item6 {

}

.item7 {

}

.item8 {

}

div {
    margin: 2px;
}

    .row {
        /*background-image: "src/ddc037199ec6d7156b3184fc0a6cdc1e.jpg" ;*/
    }

    .col-lg-2 {
        background-color:lightblue;
    }

    .card > .card-body {
        background-color: lavender;
        height: 100%;
    }

    .card > .card-header {
        background-color: lightblue;
    }

    .navbar {
        background: linear-gradient(to right, black, darkorange, black, darkorange);
        border: solid plum;

    }

    .col-lg > .card , .col-lg-6 > .card {border: solid palegoldenrod;}

.col-lg, .col-lg-6 {
    margin: 5px;
    opacity: .8;
}


input {
    margin-right: 2px;
    background-color: lightyellow;
}

.row {margin:0;}

.col-lg:hover {
    opacity:1;
}

btn:hover{
    background: linear-gradient(to right, orangered, darkorange, orangered, darkorange);
}

form {
    float:right;
}
